.search-form button {
    margin: 0 8px;
}

.search-results {
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 10px;
}

.user {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    align-items: center;
    padding: 0 30px;
}

.user .image {
    width: 15%;
}

.user .image img {
    width: 100%;
    border-radius: 3%;
}

.user-info * {
    padding: 5px;
}

.more-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.more-options select, .more-options button {
    outline: none;
    padding: 5px;
    border-radius: 5px;
}